build/**/*
build
npm.sh
node_modules/**/*
node_modules
.env
.env.test
#client/create-env-file.sh
src/**/*
src
.git/**/*
.git
views/**/*
dmens/.env
dmens/.env.test
admin_data.txt
tsconfig.json
README.md