name: Trigger auto deployment for dmens

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: [ main ]
  # Running your workflow when a pull request merges
  pull_request_target:
    branches: [master]
    types:
      - closed
  # Allow mannually trigger 
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'workflow dispatch log level manual'
        required: true
        default: warning
        type: choice
        options:
          - info
          - warning
          - debug      
env:
  GHRC_REGISTRY: ghcr.io
  REPO_NAME: ${{ github.repository }}
  GHRC_IMAGE_URL: ghcr.io/${{ github.repository }}:${{ github.sha }}

jobs:
  analyze:
    if: ${{ github.event.pull_request.merged  == true }}
    name: Analyze - code security Analysis
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: [ 'javascript' ]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    # Initializes the CodeQL tools for scanning.
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v2
      with:
        languages: ${{ matrix.language }}

    - name: Autobuild
      uses: github/codeql-action/autobuild@v2
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v2

  test:
    #needs: analyze
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]
    environment:
      name: .env
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: npm ci
      - name: create folder ./dmens
        run: mkdir -p ./dmens
      - name: compile typescrept to ts-output folder 
        run: npm run ts

  build-deploy:
    # Run this job when pull request merges
    if: ${{ github.event.pull_request.merged  == true }}
    needs: [analyze, test]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v3
      - name: Use Node.js [${{ matrix.node-version }}]
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: npm ci
      #- name: create folder dmens if not existed
       # run: mkdir -p ./dmens
      - name: npm run ts && npm run build:createPackage out dist folder 
        run: npm run ts && npm run build:createPackage

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to docker container registry
        uses: docker/login-action@v2
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PSSWORD }}

      - name: Build and push container image to docker registry
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
            docker.io/${{ secrets.DOCKER_USERNAME }}/dmens:${{ github.sha }}
            docker.io/${{ secrets.DOCKER_USERNAME }}/dmens:latest
          file: ./Dockerfile
          context: ./

      - name: Log in to Github container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.GHRC_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push container image to github registry
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
            ${{ env.GHRC_IMAGE_URL}}
            ${{ env.GHRC_REGISTRY }}/${{ env.REPO_NAME }}:latest
          file: ./Dockerfile
          context: ./
